
		
		#one{
            
            margin: 0 auto;
			width:95%;
			height:40%;
			box-shadow:0 0 0 1px rgba(14,41,68,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
			align:center;
			padding:10px 50px 0;
			background:linear-gradient(#fff,#f2f6f9);
			margin-bottom: 20px;

		}
     
#footer{
            margin: 0 auto;
			width:95%;
			height:6%;
			box-shadow:0 0 0 1px rgba(14,41,68,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
			align:center;
			padding:10px 50px 0;
			background:linear-gradient(#fff,#f2f6f9);
			margin-top: 20px;
}

#des{
    font-size: 25px;
    text-align: center;
}
		input[type=submit] {
			border: none;
			padding: 8px 15px 8px 15px;
			background-color: #FF8500;
			color: #fff;
			align:center;
			box-shadow: 1px 1px 4px #DADADA;
			-moz-box-shadow: 1px 1px 4px #DADADA;
			-webkit-box-shadow: 1px 1px 4px #DADADA;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;

		}
		input[type=submit]:hover{
			background-color:#45a049;
			//background-color:linear-gradient(to bottom,#45a049 5%,#22abe9 100%)
		}
		#the_file{
			border-radius: 5px;
  			background-color: #f2f2f9;
 		        padding: 20px;
			text-align:center;
		}
		h1{
			color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 35px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: left; 
		}
	  
		table {
            margin:0 auto;
			border-collapse: collapse;
			width: 70%;
		  }
		  
		  th, td {
			text-align: center;
			padding: 8px;
		  }
		  
		  tr:nth-child(even) {background-color: #f2f2f2;}

h3{
    color:brown;
    margin-left: 300px;
}

th{
	text-align:center;
}
	